forgot-password {
.progress-buttons {
    //  padding: 16px 18px 0px 18px;
    .red-nav-btn {
      float: right;
    }
    .acc-prev-next-btn {
      padding: 16px 18px 0px 18px;
    }
  }
  .forgotpassword-icon{
    height: 80px;
    width: 80px;
    background-image: url('../assets/imgs/Password_Icon.svg');
    background-size: cover;
    text-align: center;
    margin: 0 auto;
  }
    .title {
      color: #000000;
      font-family: "Neo Sans Std";
      font-size: 24px;
      line-height: 22px;
      text-align: center;
      padding: 14px 0px;
    }

    .sub-title {
      color: #8F8F8F;
      font-family: "Neo Sans Std";
      font-size: 13px;
      line-height: 18px;
      text-align: center;
      padding-bottom: 22px;
    }
    .typeformat{
        padding: 0px 18px 0px 18px;
    }
    .email-error{
        float: left;
    }
    .error-message{
      .icon{
        float: left;
      }
    }

}
.emailAlert{
 .alert-wrapper {
  .alert-head {
  color: #000000;
    
  }
  .alert-message{
    font-family: "Helvetica Neue";
    font-size: 14px;
    color: #000000;
    line-height: 16px;
  }
}

}