.lojack-form {
  .lojack-input {
    padding: 0px;
    .item-inner {
      box-sizing: border-box;
      border-bottom: 0.7px solid #b6b6b6;
      padding: 0px;
      .input-wrapper {
        padding: 0px 15px 8px 15px;
        .label {
          color: #b6b6b6;
          font-size: 14px;
          margin-bottom: 8px;
        }
        .input {
          input {
            height: 22px;
            color: #000000;
            font-size: 18px;
            line-height: 22px;
            margin: 0px;
            outline: 0;
          }
        }
        .hide-text {
          -webkit-text-security: disc;
          text-security: disc;
          -moz-text-security: disc;
        }
      }
    }
    &.invalid-input {
      .item-inner {
        background: rgba(226, 35, 26, 0.1);
        border-bottom: 0.7px solid #e2231a !important;
        .input-wrapper {
          padding: 0px 15px 8px 15px;
          .label {
            color: #e2231a;
          }
        }
      }
    }
    &.input-icon {
      .item-inner {
        .input-wrapper {
          padding: 0px 0px 8px 15px;
        }
        .btn-icon {
          // padding: 0px 15px 0px 5px;
          // margin: 0px 15px -20px 0px;
          // color: #B6B6B6;
          // z-index: 9;
          padding: 10px 10px 10px 5px;
          margin: 0px 15px -31px 0px;
          color: #b6b6b6;
          z-index: 9;
          .gray-icon {
            height: 7.16px;
            width: 12.4px;
            color: #b6b6b6;
          }
          .icon-hide-password {
            background-image: url("../assets/svg/Hide_PW_Icon.svg");
            width: 17px;
            height: 12px;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 9;
          }
          .icon-show-password {
            background-image: url("../assets/svg/Show_PW_Icon.svg");
            width: 17px;
            height: 12px;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 9;
          }

          .text-clear-icon {
            background-image: url("../assets/svg/Close_Circle_Button.svg");
            height: 15.24px;
            width: 15.24px;
            background-size: cover;
            background-repeat: no-repeat;
            z-index: 9;
          }
        }
      }
    }
  }
  .item-input-has-focus .item-inner,
  .item-md.item-input.input-has-focus .item-inner {
    border-bottom: 0.7px solid #666666;
    box-shadow: none;
  }
  .item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus).item-inner,
  .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus)
    .item-inner {
    border-bottom: 0.7px solid #b6b6b6;
    box-shadow: none;
  }
}