.lojack-logo {
  background-image: url("../assets/imgs/loginLogo.png");
  height: 66px;
  width: 113px;
  background-size: cover;
  margin: auto;
}

.logo-wrapper {
  margin: 50pt auto;
  width: 100%;
}

.page-container {
  padding: 0 19px;
}
