page-changepassword {
    .progress-buttons {
        //  padding: 16px 18px 0px 18px;
        .red-nav-btn {
          float: right;
        }
        .acc-prev-next-btn {
          padding: 16px 18px 0px 18px;
        }
      }
      .slider-scroll-content{
        overflow-y: scroll;
        
      }
      .inputpass{
          padding-left: 18px;
          padding-right: 18px;
      }
      .title {
        color: #000000;
        font-family: "Neo Sans Std";
        font-size: 24px;
        line-height: 22px;
        text-align: center;
        padding: 14px 0px;
      }
      .sub-title {
        color: #8F8F8F;
        font-family: "Neo Sans Std";
        font-size: 13px;
        line-height: 18px;
        text-align: center;
        padding-bottom: 22px;
      }
      .step-image {
       padding-top: 44px;
        width: 100%;
        text-align: center;
    }
    .eye-btn {
        margin:8px !important;
        background-color: transparent;
    }

}
