
.platform-ios password-verification .scroll-content {
    padding: 0px !important;
}
password-verification{
  .verifyPassword{
    padding-left: 18px;
    padding-right: 18px;
}

.myprofile-page {
    height: 50px;
    width: 100%;
    font-size: 14px;
    font-weight: bold;
    letter-spacing: 1px;
    line-height: 17px;
    //text-align: center;
    background-color: black;
    padding: 22px 17px 18px 15px;
    color: white;

     .text {
    background-image: url('../assets/imgs/Push_Arrow_White.png');
    /* height: 15px; */
    /* width: 15px; */
    /* background-repeat: no-repeat; */
    background-size: cover;
    /* text-align: right; */
    /* float: right; */
    height: 15px;
    width: 8px;
    transform: rotate(180deg);
    right: 0;
    display: inline-block;
    float: left;
  }
    .myprofile-text{
     
    /* text-align: center; */
    padding: 0% 0% 0% 34%;
   }
   .myprofile-text-edit{
    padding: 0% 0% 0% 33%;
    float: left;
   }

    .edit-text{
           float: right;
           font-weight: 100;
   }
  }
 
.verifyPadding{
    padding: 18px 18px;
.titleverify{
    padding-top: 37px;	
    color: #000000;	
    font-family: "Neo Sans Std";	
    font-size: 24px;	
    line-height: 22px;
    text-align: center;

}

.subtitleverify{	
    padding-top: 14px;
    padding-bottom: 66px;	
    color: #8F8F8F;	
    font-family: "Neo Sans Std";	
    font-size: 13px;	
    line-height: 18px;	
    text-align: center;
}
.subtitleverifyPassword{	
    padding-top: 14px;
    padding-bottom: 45px;	
    color: #8F8F8F;	
    font-family: "Neo Sans Std";	
    font-size: 13px;	
    line-height: 18px;	
    text-align: center;
}

.eye-btn {
    margin:8px !important;
    background-color: transparent;
}

    .titlenewPassword{
        padding-top: 87px;	
    color: #000000;	
    font-family: "Neo Sans Std";	
    font-size: 24px;	
    line-height: 22px;
    text-align: center;

        
    }

}
    .verify{
        padding: 98px 0px 19px 0px;
        background-color:white;
        }
    }
    
    

      



