<!-- Generated template for the PasswordVerificationComponent component -->

<ion-header>
  <div class='myprofile-page'>
              <div class="text" (click)="movetobackpage()"></div>
              <div class="myprofile-text">EDIT PASSWORD</div>
      
    </div>
  </ion-header>
  
  
    <ion-content class="verifyPassword" *ngIf="!newPassword">
        <div class="verifyPadding">
       <div class="titleverify">Verify Password</div> 
  
       <div class="subtitleverify">For your security, please enter your<br/> current password.</div>
       
       <form class="lojack-form">
        <ion-item class="lojack-input input-icon"  [ngClass]="{'invalid-input':(errorMessageInput)}">   
            <ion-label floating>         </ion-label>
            <ion-input #input clearOnEdit="false" type="{{passwordType}}" type="{{showpassword ? 'text' : 'password'}}"  name="password"
            (keyup)="disableError()" [(ngModel)]="userInput.password"></ion-input>
          <button clear class="btn-icon eye-btn" item-right (click)="showPassword()">
            <div [ngClass]="(passwordType=='password') ? 'icon-show-password' : 'icon-hide-password'"> </div>
          </button>
        </ion-item>
        <div class="error-message" [hidden]="!errorMessage">
            <ion-icon name="warning"></ion-icon>{{errorMessage}}</div>
      </form>
  
      <div class="verify">
          <button class="blue-btn" type="submit" [disabled]=" !userInput.password || errorMessageInput " (click)="signIn()">VERIFY</button>
        </div>
      </div>
   </ion-content>
  
   <ion-content  class="verifyPassword" *ngIf="newPassword">
   <div class="verifyPadding">
      <div class="titlenewPassword">New Password</div> 
       <div class="subtitleverifyPassword">Use a minimum of 8 charcters and <br/> at least one symbol.</div>
       <form class="lojack-form">    
     <ion-item class="lojack-input input-icon" [ngClass]="{'invalid-input':(errorMessageInput)}">
      <ion-label floating>New Password</ion-label>
      <ion-input #input clearOnEdit="false" type="{{passwordType1}}" type="{{showpassword1 ? 'text' : 'password'}}"  name="newPassword" 
      (keyup)="disableError()" [(ngModel)]="accountSetupInfo.password.newPassword"></ion-input>
      <button clear class="btn-icon eye-btn" item-right (click)="showPassword1()">
        <div [ngClass]="(passwordType1=='password') ? 'icon-show-password' : 'icon-hide-password'"> </div>
      </button>
    </ion-item>
    <ion-item class="lojack-input input-icon" [ngClass]="{'invalid-input':(errorMessageInput)}">
      <ion-label floating>Confirm Password</ion-label>
      <ion-input clearOnEdit="false" type="{{passwordType1}}" type="{{showpassword1 ? 'text' : 'password'}}" name="confirmPassword"
       (keyup)="disableError()" [(ngModel)]="accountSetupInfo.password.confirmPassword"></ion-input>
      <button clear class="btn-icon eye-btn" item-right (click)="showPassword1()">
        <div [ngClass]="(passwordType1=='password') ? 'icon-show-password' : 'icon-hide-password'"> </div>
      </button>
    </ion-item>
    <div class="error-message" [hidden]="!errorMessage">
      <ion-icon name="warning"></ion-icon>{{errorMessage}}</div>
  </form>
  
  <div class="verify">
      <button class="blue-btn" type="submit"  [disabled]=" !(accountSetupInfo.password.newPassword && accountSetupInfo.password.confirmPassword) || errorMessageInput " (click)="updatePassword()">UPDATE PASSWORD</button>
    </div>
  </div>
  </ion-content>