page-collision-support {
  .scroll-content{
   // margin-top: 20px;
  }
  .collision-text-button{
    background-color: #E2231a;
    //width: 100%;;
    width: 100%;
   // height: 41px;
      padding-top: 24px;
    .collision-text{
      height: 14px;
      color: #FFFFFF;
      font-size: 14px;
      font-weight: bold;
     // float: left;
      text-align: center;
      /* padding-top: 30PX; */
      font-size: 14px;
      letter-spacing: 1px;
      line-height: 17px;
      //margin-left: 25%;
      margin-left: 36px;
    }

     .close-button {
    background-image: url(../assets/imgs/White_Close_Button.png);
    background-size: cover;
    width: 13px;
    float: right;
    margin-right: 17px;
    height: 10px;
    width: 11px;
    margin-top: 3px;
  }
}
    .collision-support {
     background-color: #E2231a;
    //width: 100%;
   // height: 100%;   
      height: 200px;

  
  .collision-support-text{
    text-align: center;
    color: white;
    margin-top: 22px;
    font-size: 30px;
    line-height: 40px;

  }
  .collision-time{
      height: 20px;
	color: #FFFFFF;
	font-size: 14px;
	line-height: 20px;
	text-align: center;
    padding-top: 6px;
    font-weight: 100;
  }
  .button-red{
        margin: 5% 25% 5% 31%;
  .red-btn{
      border: white 1px solid;
    box-sizing: border-box;
    height: 26px;
    width: 145.71px;
    border: 1px solid #FFFFFF;
    border-radius: 37.2px;
    font-weight: 100;
     margin-top: 10px; 
  }
}

  
 
 }
 .collosian-slide{
    background-color: #FFFFFF;
    .collisan-details{
     margin-bottom: 35px;
     u{
    color: #666666;
    font-family: "Neo Sans Std";
    font-size: 14px;
    line-height: 20px;
    text-align: center;
     }
     .preferedcentreName{
      color: #37618D;	
      font-family: "Neo Sans Std";
      font-size: 10px;	
      line-height: 12px;
      text-align: center;
      padding-bottom: 26px;
     }
    .button-white{
    margin: 10px 38px 12px 38px;
}
     .collisian-city{
         background-image: url(../assets/imgs/collisionsupport/page1.svg);
    background-size: cover;
    width: 13px;
    /* right: 0; */
    /* display: inline-block; */
    float: right;
    //padding: 7px;
    background-color: #E2231a;
    height: 224.3px;
        width: 100%;
      margin-bottom: 30px;

     }
      .collisian-city2{
         background-image: url(../assets/imgs/collisionsupport/Page2.svg);
    background-size: cover;
    width: 13px;
    /* right: 0; */
    /* display: inline-block; */
    float: right;
    //padding: 7px;
    background-color: #E2231a;
    height: 224.3px;
       width: 100%;
        margin-bottom: 30px;

     }
      .collisian-city3{
         background-image: url(../assets/imgs/collisionsupport/Page3.svg);
    background-size: cover;
    width: 13px;
    /* right: 0; */
    /* display: inline-block; */
    float: right;
    //padding: 7px;
    background-color: #E2231a;
     height: 224.3px;
      width: 100%;
    margin-bottom: 30px;

     }
       .collisian-city4{
         background-image: url(../assets/imgs/collisionsupport/Page4.svg);
    background-size: cover;
    width: 13px;
    /* right: 0; */
    /* display: inline-block; */
    float: right;
    padding: 7px;
    background-color: #E2231a;
    height: 224.3px;
        width: 100%;
    margin-bottom: 30px;

     }
     .collisian-number-placing{
        /* margin: 48% 45% 42% 0%; */
    position: absolute;
    /* background-color: #E14A43; */
    width: 100%;
    /* height: 22px; */
    margin-top: 201px;
    /* margin: 0px auto; */
    /* text-align: center; */
     .collisian-number{
        background-image: url(../assets/imgs/collisionsupport/number_Big_1.svg);
    background-size: cover;
    width: 13px;
    /* float: right; */
    height: 36px;
    width: 36px;
    margin: 0px auto;
    text-align: center;
    /* position: absolute; */
    z-index: 15;
     margin-top: 5px;

     }
      .collisian-number2{
     background-image: url(../assets/imgs/collisionsupport/number_Big_2.svg);
    background-size: cover;
    width: 13px;
    float: right;
    height: 36px;
    width: 36px;
    margin: 0px auto;
    text-align: center;
    position: absolute;
    z-index: 15;
    margin: 1% 25% 0% 44%;

     }
     .collisian-number3{
     background-image: url(../assets/imgs/collisionsupport/number_Big_3.svg);
    background-size: cover;
    width: 13px;
    float: right;
    height: 36px;
    width: 36px;
    margin: 0px auto;
    text-align: center;
    position: absolute;
    z-index: 15;
    margin: 1% 25% 0% 44%;

     }
      .collisian-number4{
     background-image: url(../assets/imgs/collisionsupport/number_Big_4.svg);
    background-size: cover;
    width: 13px;
    float: right;
    height: 36px;
    width: 36px;
    margin: 0px auto;
    text-align: center;
    position: absolute;
    z-index: 15;
    margin: 1% 25% 0% 44%;

     }
    }
     .slider-circle {
      background-image: url(../assets/imgs/collisionsupport/Slider1.svg);
      background-size: cover;
      width: 13px;
      margin: 0 auto;
      height: 9px;
      width: 48px;
       }
     .collisan-instruction{
      color: #666666;
      font-size: 14px;
      line-height: 20px;
      text-align: center;
      padding: 20px 50px 10px 50px;
     }
     .collisan-instruction-wait{
        color: #666666;
    //font-family: "Neo Sans Std";
    font-size: 14px;
    line-height: 20px;
    text-align: center;
       padding: 20px 50px 12px 50px;
     }

     .collisian-smallnumber{
         background-image: url(../assets/imgs/collisionsupport/number_small_1.svg);
    background-size: cover;
    float: right;
    height: 14px;
    width: 16px;
    text-align: center;
    position: absolute;
    margin-left: 15%;
     }
     .collisian-smallnumber2{
        background-image: url(../assets/imgs/collisionsupport/number_small_2.svg);
    background-size: cover;
    float: right;
    height: 14px;
    width: 16px;
    text-align: center;
    position: absolute;
    margin-left: 15%;

     }
     .need-help{
       color: #666666;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    padding: 20px 0px 0px 0px;

     }
     .call-loJack{
        color: #666666;
    font-size: 14px;
    line-height: 20px;
    text-align: center;

     }
     .last-text{
        width:100%; 
        color: #666666;
            
        font-size: 14px;    
        line-height: 18px;  
        text-align: center;
        padding-bottom: 3%;
        margin-top:3%;
        a {
          color: #666666;
        }
      }

     .collect-insurance{
    font-size: 14px;
    color: #666666;
    line-height: 20px;
    /* float: left; */
      margin: 0% 12% 0% 21%;
      padding-bottom: 8px;
    text-align: initial;
     }
     .button-red{
      margin: 22px 38px 8px 38px;
       .red-button{
        height: 46.04px;
        background-color: #E2231A;
        width: 100%;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: 1px solid #E2231A;
        opacity: 1;
        box-shadow: none;
        -webkit-transition: none;
        transition: none;
        color: #FFFFFF;
        font-size: 12px;
        font-weight: 500;
        line-height: 14px;
        text-align: center;
        text-shadow: none;
        font-weight: 100;
       }
     }
    }
 }

 
}

.swiper-pagination-bullet-active {
  background: #E2231A !important;
}

.swiper-pagination-bullet{
   background: #F6BDBA ;
}